In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\public\python\lib\site-packages (4.15.2)
Requirement already satisfied: trio~=0.17 in c:\users\public\python\lib\site-packages (from selenium) (0.23.1)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\public\python\lib\site-packages (from selenium) (2022.12.7)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\public\python\lib\site-packages (from selenium) (1.26.14)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\public\python\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\public\python\lib\site-packages (from trio~=0.17->selenium) (1.3.0)
Requirement already satisfied: idna in c:\users\public\python\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: sortedcontainers in c:\users\public\python\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: cffi>=1.14 in c:\users\public\python\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\public\python\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: attrs>=20.1.0 in c:\users\public\python\lib\site-packages (from trio~=0.17->selenium) (22.1.0)
Requirement already satisfied: outcome in c:\users\public\python\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: wsproto>=0.14 in c:\users\public\python\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\public\python\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\public\python\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\public\python\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [2]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [16]:
driver = webdriver.Chrome()

In [4]:
driver.get("https://www.shine.com/")

In [5]:
designation=driver.find_element(By.XPATH,"/html/body/div/div[1]/div/div/div[1]/div[1]/div/div[2]/div/div/form/div/div[1]/ul/li[1]/div/input")
designation.send_keys('Data Analyst')

In [6]:
location=driver.find_element(By.XPATH,"/html/body/div/div[1]/div/div/div[1]/div[1]/div/div[2]/div/div/form/div/div[1]/ul/li[2]/div/input")
location.send_keys('Bangalore')

In [7]:
search=driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/div/div/div[1]/div[1]/div/div[2]/div/div[1]/form/div/div[2]/div/button")
search.click()

In [8]:
job_title=[] 
job_location=[]
company_name=[]
experience_required=[]

In [17]:
title_tags=driver.find_elements(By.XPATH,'//h2[@itemprop="name"]')
for i in title_tags:
    title=i.text
    job_title.append(title)
location_tags=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
for i in location_tags:
    location=i.text
    job_location.append(location)
company_tags=driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]')
for i in company_tags:
    company=i.text
    company_name.append(company)
experience_tags=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')
for i in experience_tags:
    exp=i.text
    experience_required.append(exp)

In [18]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

40 40 40 40

In [19]:
import pandas as pd
df=pd.DataFrame({'Title':job_title,'Location':job_location,'company_name':company_name,'Experience':experience_required})
df

,Title,Location,company_name,Experience
0,Data Analyst Recruitment,Bangalore\n+13,kavya interprises,0 to 4 Yrs
1,Data Analyst,Bangalore\n+9,hire connect,0 to 1 Yr
2,Vacancy For Data Analyst,Bangalore\n+13,kavya interprises,0 to 4 Yrs
3,Project Coordinator (Data Analyst) Bangalore,Bangalore,futures and careers,2 to 4 Yrs
4,Project Coordinator (Data analyst) Bangalore,Bangalore,futures and careers,2 to 4 Yrs
5,Business Data Analyst - Modeling & Profiling,Bangalore,boyen haddin consulting and technol...,2 to 6 Yrs
6,Data analyst - Java / Python,Bangalore,boyen haddin consulting and technol...,5 to 10 Yrs
7,Data Analyst - Java/Python,Bangalore,boyen haddin consulting and technol...,2 to 6 Yrs
8,Data Analyst - SQL/ Database Maintenance,Bangalore,boyen haddin consulting and technol...,2 to 6 Yrs
9,Business Data Analyst - Modeling & Profiling,Bangalore,boyen haddin consulting and technol...,2 to 6 Yrs
10,Data Analyst - Java/Python BANGALORE,Bangalore,boyen haddin consulting and technol...,4 to 8 Yrs
11,Business Data Analyst - Modeling & Profiling,Bangalore,boyen haddin consulting and technol...,2 to 6 Yrs
12,hiring for data entry analyst work,Bangalore\n+9,global solutions..,0 to 1 Yr
13,Data analyst,Bangalore\n+9,ok lifecare private limited,1 to 5 Yrs
14,opening data analyst -Bangalore,Bangalore,provizor it services pvt. ltd.,2 to 5 Yrs
15,Big Data Business Analyst,Bangalore\n+1,cynosure corporate solutions..,7 to 12 Yrs
16,Data Analyst Vacancy,Bangalore\n+14,divya interprises,0 to 4 Yrs
17,Data Analyst Vacancy,Bangalore\n+14,divya interprises,0 to 4 Yrs
18,Clinical Data Analyst,Bangalore\n+4,quiscon biotech,0 to 2 Yrs
19,Senior Tech Lead - Power BI,Bangalore,nustar technologies india private l...,3 to 5 Yrs
20,Data Analyst,Bangalore\n+9,v-tech data outsourcing,0 to 2 Yrs
21,Data Analyst Urgent Recruitment,Bangalore\n+14,divya interprises,0 to 4 Yrs
22,Data Analyst Urgent Recruitment,Bangalore\n+14,divya interprises,0 to 4 Yrs
23,Data Analyst Urgent Recruitment,Bangalore\n+14,divya interprises,0 to 4 Yrs
24,Data Analyst 1,Bangalore,merck ltd,1 to 3 Yrs
25,Hiring For Data Analyst,Bangalore\n+14,divya interprises,0 to 4 Yrs
26,Clinical Data Analyst,Bangalore\n+6,techno endura,0 to 1 Yr
27,Data Analyst (Google Cloud - Big Query 6-10 yrs),Bangalore,"cisco systems, inc.",5 to 10 Yrs
28,Data Analyst - Java/Python,Bangalore,boyen haddin consulting and technol...,2 to 6 Yrs
29,Data Analyst - Java/Python,Bangalore,boyen haddin consulting and technol...,2 to 6 Yrs
30,Data Analyst- HR,Bangalore,paytm,2 to 4 Yrs
31,MS Power BI Professional - Data Analytics Expr...,Bangalore,boyen haddin consulting and technol...,2 to 6 Yrs
32,Power BI Specialist - Data Modeling,Bangalore,boyen haddin consulting and technol...,2 to 6 Yrs
33,Data Quality _ SQL,Bangalore,boyen haddin consulting and technol...,2 to 6 Yrs
34,Data Engineer - ETL/ Python/ Big Data,Bangalore,boyen haddin consulting and technol...,3 to 5 Yrs
35,Data Analytics - Analyst,Bangalore,jpmorgan,0 to 4 Yrs
36,Data Analyst,Bangalore,infosys limited,4 to 6 Yrs
37,Data Quality / Business Analyst - SQL,Bangalore,boyen haddin consulting and technol...,2 to 6 Yrs
38,"Tax Analyst, Data",Bangalore,dell,3 to 5 Yrs
39,Data Engineer/data Science Consultant,Bangalore,boyen haddin consulting and technol...,2 to 6 Yrs

In [20]:
title_tags=driver.find_elements(By.XPATH,'//h2[@itemprop="name"]')
for i in title_tags:
    title=i.text
    job_title.append(title)
    job_title[:10]
location_tags=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
for i in location_tags:
    location=i.text
    job_location.append(location)
    job_location[:10]
company_tags=driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]')
for i in company_tags:
    company=i.text
    company_name.append(company)
    company_name[:10]
experience_tags=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')
for i in experience_tags:
    exp=i.text
    experience_required.append(exp)
    experience_required[:10]

In [21]:
print(len(job_title[:10]),len(job_location[:10]),len(company_name[:10]),len(experience_required[:10]))

10 10 10 10

In [22]:
import pandas as pd
df=pd.DataFrame({'Title':job_title[:10],'Location':job_location[:10],'company_name':company_name[:10],'Experience':experience_required[:10]})
df

,Title,Location,company_name,Experience
0,Data Analyst Recruitment,Bangalore\n+13,kavya interprises,0 to 4 Yrs
1,Data Analyst,Bangalore\n+9,hire connect,0 to 1 Yr
2,Vacancy For Data Analyst,Bangalore\n+13,kavya interprises,0 to 4 Yrs
3,Project Coordinator (Data Analyst) Bangalore,Bangalore,futures and careers,2 to 4 Yrs
4,Project Coordinator (Data analyst) Bangalore,Bangalore,futures and careers,2 to 4 Yrs
5,Business Data Analyst - Modeling & Profiling,Bangalore,boyen haddin consulting and technol...,2 to 6 Yrs
6,Data analyst - Java / Python,Bangalore,boyen haddin consulting and technol...,5 to 10 Yrs
7,Data Analyst - Java/Python,Bangalore,boyen haddin consulting and technol...,2 to 6 Yrs
8,Data Analyst - SQL/ Database Maintenance,Bangalore,boyen haddin consulting and technol...,2 to 6 Yrs
9,Business Data Analyst - Modeling & Profiling,Bangalore,boyen haddin consulting and technol...,2 to 6 Yrs

In [4]:
driver.get("https://www.shine.com/")

In [5]:
designation=driver.find_element(By.XPATH,"/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[1]/div/input")
designation.send_keys('Data scientist')

In [6]:
location=driver.find_element(By.XPATH,"/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input")
location.send_keys('Bangalore')

In [7]:
search=driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/div/div/div[1]/div[1]/div/div[2]/div/div[1]/form/div/div[2]/div/button")
search.click()

In [8]:
job_title=[] 
job_location=[]
company_name=[]

In [9]:
title_tags=driver.find_elements(By.XPATH,'//h2[@itemprop="name"]/a')
for i in title_tags:
    title=i.text
    job_title.append(title)
    job_title[:10]
location_tags=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
for i in location_tags:
    location=i.text
    job_location.append(location)
    job_location[:10]
company_tags=driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]')
for i in company_tags:
    company=i.text
    company_name.append(company)
    company_name[:10]

In [10]:
print(len(job_title[:10]),len(job_location[:10]),len(company_name[:10]))

10 10 10

In [11]:
import pandas as pd
df=pd.DataFrame({'Title':job_title[:10],'Location':job_location[:10],'company_name':company_name[:10]})
df

,Title,Location,company_name
0,Data scientist,Bangalore\n+8,capgemini technology services india...
1,Data Scientist - Business Intelligence,Bangalore,boyen haddin consulting and technol...
2,Data Scientist for Bangalore,Bangalore,get hired
3,Data Scientist - Spark/Python/Redshift,Bangalore,boyen haddin consulting and technol...
4,Data Scientist - Machine Learning,Bangalore,boyen haddin consulting and technol...
5,Hiring For Data Scientist,Bangalore\n+13,kavya interprises
6,Hiring For Data Scientist,Bangalore\n+13,kavya interprises
7,Data Scientist,Bangalore,ibm india pvt. limited
8,Data Scientist- Associate,Bangalore,jpmorgan
9,Data Scientist Vacancy,Bangalore\n+14,divya interprises

In [22]:
driver = webdriver.Chrome()

In [14]:
driver.get("https://www.shine.com/")

In [15]:
designation=driver.find_element(By.XPATH,"/html/body/div/div[1]/div/div/div[1]/div[1]/div/div[2]/div/div/form/div/div[1]/ul/li[1]/div/input")
designation.send_keys('Data scientist')

In [16]:
location=driver.find_element(By.XPATH,"/html/body/div/div[1]/div/div/div[1]/div[1]/div/div[2]/div/div/form/div/div[1]/ul/li[2]/div/input")
location.send_keys('Delhi-ncr Region')

In [17]:
search=driver.find_element(By.XPATH,"/html/body/div/div[1]/div/div/div[1]/div[1]/div/div[2]/div/div/form/div/div[2]/div/button")
search.click()

In [18]:
job_title=[] 
job_location=[]
company_name=[]
experience_required=[]

In [19]:
title_tags=driver.find_elements(By.XPATH,'//h2[@itemprop="name"]')
for i in title_tags:
    title=i.text
    job_title.append(title)
    job_title[:10]
location_tags=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
for i in location_tags:
    location=i.text
    job_location.append(location)
    job_location[:10]
company_tags=driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]')
for i in company_tags:
    company=i.text
    company_name.append(company)
    company_name[:10]
experience_tags=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')
for i in experience_tags:
    exp=i.text
    experience_required.append(exp)
    experience_required[:10]

In [20]:
print(len(job_title[:10]),len(job_location[:10]),len(company_name[:10]),len(experience_required[:10]))

10 10 10 10

In [21]:
import pandas as pd
df=pd.DataFrame({'Title':job_title[:10],'Location':job_location[:10],'company_name':company_name[:10],'Experience':experience_required[:10]})
df

,Title,Location,company_name,Experience
0,Data Scientist for Delhi,Delhi,get hired,0 to 3 Yrs
1,Data Scientist- Delhi,Delhi,the fashion cosmo,0 to 3 Yrs
2,Data Scientist-Delhi,Delhi,shiva hr services,0 to 3 Yrs
3,Clinical Data Management,Delhi\n+6,techno endura,0 to 1 Yr
4,Data Scientist- Delhi,Delhi,the fashion cosmo,0 to 3 Yrs
5,Data Scientist- Delhi,Delhi,the fashion cosmo,0 to 3 Yrs
6,Data Engineer,Delhi,employberry consultants,4 to 6 Yrs
7,Clinical Data Manager,Delhi\n+6,techno endura,0 to 1 Yr
8,Work Full/part-time / Work From Home / Compute...,Delhi\n+4,desnor destination pvt. ltd.,0 to 4 Yrs
9,Typing Work-Data Entry-Computer Operator-Freel...,Delhi\n+4,desnor destination pvt. ltd.,0 to 4 Yrs

In [41]:
driver = webdriver.Chrome()

In [4]:
driver.get("https://www.flipkart.com/")

In [5]:
product=driver.find_element(By.XPATH,"/html/body/div/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input")
product.send_keys('sunglasses')

In [6]:
brand=driver.find_element(By.XPATH,"/html/body/div/div/div[3]/div[1]/div[1]/div[2]/div[1]/div/section[5]/div/div")
brand

In [7]:
search=driver.find_element(By.XPATH,"/html/body/div/div/div[1]/div[1]/div[2]/div[2]/form/div/button")
search.click()

In [8]:
product_name=[] 
brand_name=[]
price=[]

In [9]:
product_des=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
for i in product_des:
        product=i.text
        product_name.append(product)
        product_name[:100]
brand_tags=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in brand_tags:
        brand=i.text
        brand_name.append(brand)
        brand_name[:100]
price_tags=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for i in price_tags:
        cost=i.text
        price.append(cost)
        price[:100]

In [10]:
print(len(product_name[:100]),len(brand_name[:100]),len(price[:100]))

36 40 40

In [11]:
product_name=[]

In [14]:
start=0
end=3
for page in range(start,end):
    product_des=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in product_des:
        product_name.append(i.text)
    next_button=driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div[1]/div[2]/div[2]/div/div[2]/div/div/a[1]')
    next_button.click()
    time.sleep(3)

In [16]:
len(product_name[:100])

100

In [17]:
start=0
end=3
for page in range(start,end):
    brand_tags=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in brand_tags:
        brand_name.append(i.text)
    next_button=driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div[1]/div[1]/div[2]/div[1]/div/section[5]/div/div')
    next_button.click()
    time.sleep(3)

In [18]:
len(brand_name[:100])

100

In [19]:
start=0
end=3
for page in range(start,end):
    price_tags=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in price_tags:
        price.append(i.text)
    next_button=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[2]/div/div[3]/div[1]/div/div[1]')
    next_button.click()
    time.sleep(3)

In [20]:
len(price[:100])

100

In [21]:
import pandas as pd
df=pd.DataFrame({'product_name':product_name[:100],'Brand_name':brand_name[:100],'Price':price[:100]})
df

                                         product_name     Brand_name   Price
0                    Mirrored Aviator Sunglasses (58)      ROYAL SON    339
1   by Lenskart Polarized, UV Protection Rectangul...  VINCENT CHASE    883
2              UV Protection Wayfarer Sunglasses (50)           SRPM    149
3              UV Protection Wayfarer Sunglasses (58)       Fastrack    549
4              UV Protection Wayfarer Sunglasses (53)      Elligator    149
..                                                ...            ...     ...
95                   Mirrored Aviator Sunglasses (55)         PIRASO    269
96  Polarized, UV Protection Retro Square Sunglass...  VINCENT CHASE  1,039
97  UV Protection, Riding Glasses Rectangular Sung...    john jacobs  3,129
98  UV Protection Wayfarer, Sports, Spectacle , Re...       DEPARTED    309
99  by Lenskart Polarized, UV Protection Aviator S...      Rich Club     75

[100 rows x 3 columns]

In [27]:
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb/productreviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&market")

In [28]:
product=driver.find_element(By.XPATH,"/html/body/div/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input")
product.send_keys('apple iphone 11 black 64gb')

In [34]:
rating=driver.find_element(By.XPATH,"/html/body/div[1]/div/div[3]/div/div[2]/div[2]/div/div/div/a/div[2]/div[1]/div[2]/span[2]/span/span[1]")
rating

In [35]:
search=driver.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button")
search.click()

In [36]:
Rating=[]
Review_summary=[]
Full_review=[]

In [47]:
for page in range(0,5):
    rating_tag=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
    for i in rating_tag:
            rating=i.text
            Rating.append(rating)
            Rating[:100]
    review_tag=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
    for i in review_tag:
            review=i.text
            Review_summary.append(review)
            Review_summary[:100]
    full_review=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
    for i in full_review:
            f_review=i.text
            Full_review.append(f_review)
            Full_review[:100]

In [48]:
print(len(Rating[:100]),len(Review_summary[:100]),len(Full_review[:100]))

100 100 100

In [49]:
import pandas as pd
df=pd.DataFrame({'RATING':Rating[:100],'REVIEW':Review_summary[:100],'FULL_REVIEW':Full_review[:100]})
df

,RATING,REVIEW,FULL_REVIEW
0,4,Pretty good,Super smartphone with basic usage and budget a...
1,5,Great product,"Good mobile, price also very low"
2,5,Simply awesome,Budget phone for your parents
3,5,Perfect product!,Very good product with resonable price
4,5,Great product,Redmi a2 beautiful camera
...,...,...,...
95,5,Awesome,Price ke according good mobile
96,4,Good quality product,Use after 2months mobile is super... Camera pe...
97,4,Good choice,Low Price. Good mobile... After 1 week use . M...
98,4,Nice product,Nice to mobile low price..
99,4,Nice product,Very nice in this price.

In [4]:
driver.get("https://www.flipkart.com/")

In [8]:
product=driver.find_element(By.XPATH,"/html/body/div/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input")
product.send_keys('sneakers')

In [9]:
brand=driver.find_element(By.XPATH,"/html/body/div/div/div[3]/div[1]/div[1]/div/div/div/section[5]/div[1]/div")
brand

In [10]:
search=driver.find_element(By.XPATH,"/html/body/div/div/div[1]/div[1]/div[2]/div[2]/form/div/button")
search.click()

In [11]:
product_name=[] 
brand_name=[]
price=[]

In [18]:
for i in range(0,15):
    product_des=driver.find_elements(By.XPATH,'//a[@class="_2whKao"]')
    for i in product_des:
            product=i.text
            product_name.append(product)
            product_name[:100]
    brand_tags=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in brand_tags:
            brand=i.text
            brand_name.append(brand)
            brand_name[:100]
    price_tags=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in price_tags:
            cost=i.text
            price.append(cost)
            price[:100]

In [19]:
print(len(product_name[:100]),len(brand_name[:100]),len(price[:100]))

100 100 100

In [20]:
import pandas as pd
df=pd.DataFrame({'product_name':product_name[:100],'Brand_name':brand_name[:100],'Price':price[:100]})
df

          product_name Brand_name   Price
0                 Home     BRUTON    479
1             Footwear       aadi    256
2       Men's Footwear   URBANBOX    299
3   Mens Casual Shoes     Labbin    449
4                 Home   Nobelite    319
..                 ...        ...     ...
95  Mens Casual Shoes     BRUTON    149
96                Home       aadi    356
97            Footwear       aadi    499
98      Men's Footwear       aadi    347
99  Mens Casual Shoes       Xtep  2,899

[100 rows x 3 columns]

In [23]:
driver.get("https://www.amazon.in/")

In [24]:
product=driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input")
product.send_keys('laptop')

In [25]:
rating=driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/div[1]/div[1]/div/span[1]/div[1]/div[2]/div/div/div/div/span/div/div/div/div[2]/div/div/div[2]/div[1]/span[1]/span/a/i[1]")
rating

In [26]:
search=driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div")
search.click()

In [28]:
Title=[] 
Rating=[]
Price=[]

In [37]:
for i in range (0,10):
    title_tags=driver.find_elements(By.XPATH,'//div[@class="a-section a-spacing-small a-spacing-top-small"]')
    for i in title_tags:
            title=i.text
            Title.append(title)
            Title[:10]
    rating_tags=driver.find_elements(By.XPATH,'//i[@class="a-icon a-icon-star-small a-star-small-4 aok-align-bottom"]')
    for i in rating_tags:
            rating=i.text
            Rating.append(rating)
            Rating[:10]
    price_tags=driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')
    for i in price_tags:
            price=i.text
            Price.append(price)
            Price[:10]

In [38]:
print(len(Title[:10]),len(Rating[:10]),len(Price[:10]))

10 10 10

In [40]:
import pandas as pd
df=pd.DataFrame({'Title':Title[:10],'Rating':Rating[:10],'Price':Price[:10]})
df

                                               Title Rating   Price
0  1-24 of over 2,000 results for "laptop laptop hp"         74,990
1  Sponsored\nDell 14 Laptop, Intel 12th Gen Core...         86,990
2  Sponsored\nLenovo IdeaPad Slim 3 Intel Core i3...         89,990
3  HP Laptop 15s, Intel Celeron, 15.6-inch (39.6 ...         38,490
4  HP Laptop 14s, 12th Gen Intel Core i3-1215U, 1...         37,990
5  HP Victus Gaming Laptop, AMD Ryzen 5 5600H, AM...         28,490
6  HP Laptop 14s, AMD Ryzen 3 5300U, 14-inch (35....         39,990
7  [SmartChoice] HP Laptop 15s, 11th Gen Intel Co...         56,990
8  HP Laptop 15, 12th Gen i3-1215U, 15.6-inch (39...         35,490
9  HP Laptop 15s, 12th Gen Intel Core i5-1235U, 1...         48,490

In [4]:
driver.get("https://www.azquotes.com/")

In [7]:
top_quotes=driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/div[1]/div/div[2]/div[1]/div/form/input[1]")
top_quotes.send_keys('Top Quotes')

In [8]:
author=driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/div[1]/div/div[3]/ul/li[1]/a")
author

In [9]:
search=driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/div[1]/div/div[2]/div[1]/div/form/input[3]")
search.click()

In [10]:
Quote=[] 
Author=[]
Type_of_Quote=[]

In [15]:
for i in range (0,700):
    quote_tags=driver.find_elements(By.XPATH,'//div[@class="gsc-result-info"]')
    for i in quote_tags:
            quote=i.text
            Quote.append(quote)
            Quote[:1000]
    author_tags=driver.find_elements(By.XPATH,'//div[@class="title"]')
    for i in author_tags:
            author=i.text
            Author.append(author)
            Author[:1000]
    type_tags=driver.find_elements(By.XPATH,'//div[@class="gs-bidi-start-align gs-snippet"]')
    for i in type_tags:
            type_quote=i.text
            Type_of_Quote.append(type_quote)
            Type_of_Quote[:1000]

In [16]:
print(len(Quote[:1000]),len(Author[:1000]),len(Type_of_Quote[:1000]))

1000 1000 1000

In [17]:
import pandas as pd
df=pd.DataFrame({'Quote':Quote[:1000],'Author':Author[:1000],'Type_of_Quote':Type_of_Quote[:1000]})
df

,Quote,Author,Type_of_Quote
0,About 731 results (0.13 seconds),Authors:,Login Sign Up. Authors Topics Quote of the...
1,About 731 results (0.13 seconds),,Enjoy our top of the world quotes collection. ...
2,About 731 results (0.13 seconds),,Discover Thomas J. Watson famous and rare quot...
3,About 731 results (0.13 seconds),,Login Sign Up. Authors Topics Quote of the...
4,About 731 results (0.13 seconds),Authors:,Login Sign Up. Authors Topics Quote of the...
...,...,...,...
995,About 731 results (0.13 seconds),,Discover Luciano Pavarotti famous and rare quo...
996,About 731 results (0.13 seconds),Authors:,Login Sign Up. Authors Topics Quote of the...
997,About 731 results (0.13 seconds),,Quote of the Day Picture Quotes Top Quotes...
998,About 731 results (0.13 seconds),,Discover Giorgio Morandi famous and rare quote...
999,About 731 results (0.13 seconds),,Login Sign Up. Authors Topics Quote of the...

In [4]:
driver.get("https://www.motor1.com/")

In [5]:
product=driver.find_element(By.XPATH,"/html/body/div[10]/div[2]/div/div/div[3]/div/div/div/form/input")
product.send_keys('50 most expensive cars')

In [6]:
brand=driver.find_element(By.XPATH,"/html/body/div[10]/div[5]/h1")
brand

In [7]:
search=driver.find_element(By.XPATH,"/html/body/div[10]/div[2]/div/div/div[3]/div/div")
search.click()

In [8]:
car_name=[]
price=[]

In [11]:
title_tags=driver.find_elements(By.XPATH,'//h3[@class="subheader"]')
for i in title_tags:
    title=i.text
    car_name.append(title)
price_tags=driver.find_elements(By.XPATH,'/html/body/div[10]/div[7]/div[2]/div[1]/div[2]/div[2]/p[4]')
for i in price_tags:
    cost=i.text
    price.append(cost)

In [12]:
print(len(car_name),len(price))

102 2

In [17]:
driver.get("https://www.jagranjosh.com/")

In [18]:
gk=driver.find_element(By.XPATH,"/html/body/div/div[3]/div[1]/div/div/div[1]/div/input")
gk.send_keys('GK')

In [19]:
pm=driver.find_element(By.XPATH,"/html/body/div[1]/main/div[1]/div[1]/article/h1")
pm

In [20]:
search=driver.find_element(By.XPATH,"/html/body/div/div[1]/div/div[1]/div/div[3]/div/div/div/form/div[2]/div/input[2]")
search.click()

In [23]:
Name=[]
Born_Dead=[]
Term_of_office=[]
Remarks=[]

In [24]:
title_tags=driver.find_elements(By.XPATH,'//*[@id="itemdiv"]/div[3]/div[7]/p/strong')
for i in title_tags:
    title=i.text
    car_name.append(title)
bd_tags=driver.find_elements(By.XPATH,'//*[@id="itemdiv"]/div[3]/div[8]/p/strong')
for i in bd_tags:
    b=i.text
    Born_Dead.append(b)
tm_tags=driver.find_elements(By.XPATH,'//*[@id="itemdiv"]/div[3]/div[9]/p[1]/strong')
for i in tm_tags:
    t=i.text
    Term_of_office.append(t)
r_tags=driver.find_elements(By.XPATH,'//*[@id="itemdiv"]/div[3]/div[9]/p[2]/strong')
for i in r_tags:
    rm=i.text
    Remarks.append(rm)

In [25]:
print(len(Name),len(Born_Dead),len(Term_of_office),len(Remarks))

0 1 1 1